@charset "UTF-8";
/*   loading基本颜色配置*/
.load-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 9999;
  cursor: wait; }

.load-container {
  padding: 5px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px; }

.loader {
  transform: scale3d(1.7, 1.7, 1) translate(-8px);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  max-width: 86px;
  height: 86px;
  align-items: center;
  justify-content: center; }

.line-spin-fade-loader {
  position: relative; }

.line-spin-fade-loader > div:nth-child(1) {
  background: #fff;
  top: 20px;
  left: 0;
  -webkit-animation: line-spin-fade-loader 1.2s 0.1s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.1s infinite ease-in-out; }

.line-spin-fade-loader > div:nth-child(2) {
  top: 13.63636px;
  left: 13.63636px;
  background: #eee;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.2s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.2s infinite ease-in-out; }

.line-spin-fade-loader > div:nth-child(3) {
  background: #ddd;
  top: 0;
  left: 20px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.3s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.3s infinite ease-in-out; }

.line-spin-fade-loader > div:nth-child(4) {
  background: #ccc;
  top: -13.63636px;
  left: 13.63636px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.4s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.4s infinite ease-in-out; }

.line-spin-fade-loader > div:nth-child(5) {
  background: #bbb;
  top: -20px;
  left: 0;
  -webkit-animation: line-spin-fade-loader 1.2s 0.5s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.5s infinite ease-in-out; }

.line-spin-fade-loader > div:nth-child(6) {
  background: #aaa;
  top: -13.63636px;
  left: -13.63636px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out; }

.line-spin-fade-loader > div:nth-child(7) {
  background: #999;
  top: 0;
  left: -20px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.7s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.7s infinite ease-in-out; }

.line-spin-fade-loader > div:nth-child(8) {
  background: #888;
  top: 13.63636px;
  left: -13.63636px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: line-spin-fade-loader 1.2s 0.8s infinite ease-in-out;
  animation: line-spin-fade-loader 1.2s 0.8s infinite ease-in-out; }

.line-spin-fade-loader > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  width: 5px;
  height: 15px; }

@-webkit-keyframes line-spin-fade-loader {
  50% {
    background: #cccccc; }
  100% {
    background: #888888; } }

@keyframes line-spin-fade-loader {
  50% {
    background: #cccccc; }
  100% {
    background: #888888; } }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }
  .pagination > li {
    display: inline; }
    .pagination > li > a,
    .pagination > li > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 1.42857;
      text-decoration: none;
      color: #337ab7;
      background-color: #fff;
      border: 1px solid #ddd;
      margin-left: -1px; }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
      margin-left: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px; }
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px; }
  .pagination > li > a:hover, .pagination > li > a:focus,
  .pagination > li > span:hover,
  .pagination > li > span:focus {
    z-index: 3;
    color: #23527c;
    background-color: #eeeeee;
    border-color: #ddd; }
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
  .pagination > .active > span,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default; }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed; }

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333; }

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px; }

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px; }

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5; }

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.mg-none {
  margin: 0; }

.pagination-init {
  margin: 0 0 0 10px;
  position: relative; }
  .pagination-init .init {
    border-left-color: transparent;
    border-right-color: transparent;
    padding-left: 3px;
    padding-right: 3px; }
    .pagination-init .init:focus, .pagination-init .init:visited {
      background: #ffffff; }
    .pagination-init .init:hover {
      background: transparent;
      border-left-color: transparent;
      border-right-color: transparent; }
  .pagination-init .left {
    border-right-color: transparent; }
  .pagination-init .right {
    border-left-color: transparent; }
  .pagination-init .active {
    background: #eeeeee;
    color: #23527c; }

/*.pagination-lg>li>a.init{
  font-size:33px;
}
.pagination-sm>li>a.init{
  font-size:19px;
}*/
.page-list {
  padding: 5px;
  position: absolute;
  border: thin solid #eeeeee;
  bottom: 37px;
  right: 0;
  z-index: 50;
  background: #ffffff;
  width: 300px;
  max-height: 200px;
  overflow: auto; }

.page-list.num-select {
  top: 37px;
  height: 70px; }

.page-list.num-select span {
  width: 53px; }

.page-list span {
  display: inline-block;
  cursor: pointer;
  padding: 5px 0;
  width: 40px;
  margin: 2px;
  border: thin solid #dddddd;
  text-align: center; }

.page-list span:hover {
  background: #dddddd; }

.page-list span.active {
  background: #337ab7;
  color: #ffffff; }

.pagination-lg .page-list {
  bottom: 47px; }

.pagination-lg .page-list.num-select {
  top: 47px; }

.pagination-sm .page-list {
  bottom: 31px; }

.pagination-sm .page-list.num-select {
  top: 31px; }
