<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/admins/{{adminId}}" class="navbar-brand" >WAREHOUSE MANAGEMENT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
	   		<li><a href="#/admins/{{adminId}}/imageManagement">Image Management</a></li>
	   		<li><a href="#/admins/{{adminId}}/search">Search Product</a></li>
  	   </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
             <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
             {{username}}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
           <li><a href="#/admins/{{adminId}}/profile"><i class="glyphicon glyphicon-cog" style="padding-right:8px"></i>Profile</a></li>
             <li class="divider"></li>
             <li><a ng-click="logout()"><i class="glyphicon glyphicon-off" style="padding-right:8px"></i>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	
	<div class="container" style="padding-top:100px">
	 <!--  <div class="container"> -->
	 <div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Edit Item</h3>
	  </div>
	  
	  <div class="panel-body">
	      <div class="row" style="padding-left:15px;padding-right:15px;padding-bottom:10px">
	            <form name="form">
	              <div class="form-group">
	                <label for="textinput">Name</label>  
			 			 <input name="name" type="text" ng-model="item.name" ng-change="change=true"> 
	               		 <span ng-show="change"> 
			 			 	<button class="btn btn-xs btn-success" style="height:20px;" ng-click="changeName()"><i class="glyphicon glyphicon-ok" style="color:white;"></i></button>&nbsp;&nbsp;&nbsp;
			 			 	<button class="btn btn-xs btn-danger" style="height:20px;" ng-click="cancelName()"><i class="glyphicon glyphicon-remove" style="color:white"></i></button>
	              		  </span>
	              		  <span class="pull-right">
	              		  	<a href="#/admins/{{adminId}}/users/{{userId}}/boxes/{{boxId}}/items"><img ng-src="{{boxImage}}" width="75" height="75"
	               	 		ng-show="userImageId"></a>
        					<img src="image/imageMissing.png" width="75" height="75" ng-hide="userImageId"/>
	              		  </span>
	               </div>       
	               
	              <div class="form-group" style="padding-top:30px;">
	                <label>Description</label>
	                  <textarea name="description" class="form-control" rows="3" ng-model="item.description" ng-change="changeDes=true"></textarea>   
	                  	<span ng-show="changeDes"> 
			 			 	<button class="btn btn-xs btn-success" style="height:20px;" ng-click="changeDescription()"><i class="glyphicon glyphicon-ok" style="color:white;"></i></button>&nbsp;&nbsp;&nbsp;
			 			 	<button class="btn btn-xs btn-danger" style="height:20px;" ng-click="cancelDescription()"><i class="glyphicon glyphicon-remove" style="color:white"></i></button>
			 			 </span>   
	              </div>  

	                
	                <div>
						<h2 style="padding-top:20px">Upload Photos</h2>
						
						<span ng-show="showInfo" style="color:red">{{Info}}</span>
						<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
						<table class="table">		
							<tr>
								<td>
									<input type="file" class="custom-file-input" file-model="files" 
										onchange="angular.element(this).scope().filesChanged(this)"
										Multiple/>
								</td>	
								<td>
									<button type="button" ng-click="uploadFile()" class="btn btn-sm btn-primary pull-right" style="height:28px;">
										Upload
									</button>
								</td>				
							</tr>
						</table>			
				</div>
	                
	               <div class="form-group">
	               	<label>Photos</label>
	               	 <div class="row" ng-show = 'item.photos'>
							  <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2" ng-repeat="photo in photos">
							    <div class="thumbnail">
							      <div class="row">
							        <div class="col-md-12">
							        	<img ng-src="api/admins/{{adminId}}/photos/{{photo.id}}/photo" width="100" height="100"
							        	ng-show="item.photos.length!=0"></a>
        								 <img src="image/nopicture.png" width="75" height="75" ng-hide="item.photos.length!=0"/>
							        	 <button type="button" class="btn btn-xs btn-danger pull-right"  role="button" ng-click="deletePhoto(photo.id)" style="width:22px;height:20px;cursor:pointer">
		            						 <i class="glyphicon glyphicon-remove-circle">
											</i>
										</button>
								  	</div>
							      </div>
							    </div>
							  </div>
						</div>
					</div>  
	            </form>
	       </div>
	   </div>
	   </div>
	 </div>
<!-- 	</div> -->
