	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="#/admins/{{adminId}}" class="navbar-brand" >WAREHOUSE MANAGEMENT</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	    		<li><a href="#/admins/{{adminId}}/imageManagement">Image Management</a></li>
	    		<li><a href="#/admins/{{adminId}}/search">Search Product</a></li>
	    	</ul>
	    	
	
	      <ul class="nav navbar-nav navbar-right">
	       <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	             <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
	             {{username}}<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	           <li><a href="#/admins/{{adminId}}/profile"><i class="glyphicon glyphicon-cog" style="padding-right:8px"></i>Profile</a></li>
	             <li class="divider"></li>
	             <li><a ng-click="logout()"><i class="glyphicon glyphicon-off" style="padding-right:8px"></i>Logout</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

   <div style="padding-top:50px">	
     	<h2 style="padding-top:20px">Upload</h2>
		    <span ng-show="showInfo" style="color:red">{{Info}}</span>
			<table class="table">		
				<tr>
					<td>
						<input type="file" title="" class="custom-file-input" file-model="files"
							onchange="angular.element(this).scope().filesChanged(this)"
							Multiple/>
					</td>	
					<td>
						<button type="button" ng-click="uploadFile()" value="Start spinner" 
						class="btn btn-sm btn-primary pull-right" style="height:28px;">
							Upload
						</button>
					</td>				
				</tr>
			</table>			
		</div>
   
   
   		<div class="form-group">
               	 <div class="row">
						  <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2"  ng-repeat="image in images">
						    <div class="thumbnail">
						    	<img ng-src="api/admins/{{adminId}}/images/{{image.id}}/image" width="80" height="80">
						      	<div class="caption">
						      		<span class="badge btn-primary">{{image.usedNum}}</span>
							       <button type="button" class="btn btn-xs btn-danger pull-right"  role="button" ng-click="deleteImage(image.id)" style="height:21px;cursor:pointer">
	            						 <i class="glyphicon glyphicon-remove-circle">
										</i>
									</button>
							      </div>
						    </div>
						  </div>
					</div>
				</div>
		        <div class="pull-right">
						<tqq-pagination  items-per-page="12" total-items="totalImageNum" size-class="" ng-model="currentPage" item-select-hide="true" tqq-change="gotoPage()"></tqq-pagination>	
				</div>
	