<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/users/{{userId}}/boxes" class="navbar-brand" >WAREHOUSE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
           <li><a href="#/users/{{userId}}/search">Search</a></li>
	       <li><a href="#/users/{{userId}}/newBox">Create Box</a></li>
	      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
             <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
             {{username}}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
           <li><a href="#/users/{{userId}}/profile"><i class="glyphicon glyphicon-cog" style="padding-right:8px"></i>Profile</a></li>
             <li class="divider"></li>
            <li><a ng-click="logout()"><i class="glyphicon glyphicon-off" style="padding-right:8px"></i>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div style="padding-top:100px;">
        <div class="panel panel-primary">
         <div class="panel-heading">
            <span class="panel-title">Box Information</span>
            <a ng-href="api/users/{{userId}}/box/{{boxId}}/labels" target="_blank"><button class="btn btn-xs btn-success pull-right">Print Labels</button></a>
         </div>
         
         <div class="panel-body">
             <div class="row" style="padding-left:15px;padding-right:15px;">
                  <form name="form">
                  <div class="form-group">
	                <label>Name</label>  
			 			 <input name="name" type="text" ng-model="box.name" ng-change="change=true"> &nbsp;&nbsp;
			 			  <span ng-show="change"> 
			 			 	<button class="btn btn-xs btn-success" style="height:20px;" ng-click="changeName()"><i class="glyphicon glyphicon-ok" style="color:white;"></i></button>&nbsp;&nbsp;&nbsp;
			 			 	<button class="btn btn-xs btn-danger" style="height:20px;" ng-click="cancelName()"><i class="glyphicon glyphicon-remove" style="color:white"></i></button>
	              		  </span>
	              </div>
	              
	              
	              <div class="form-group" >
	               	<label>Image</label> 
	               	<button class="btn btn-xs btn-info" style="cursor:pointer;height:24px;" ng-click="tanModal()">Change</button>
	               <div>
	               	 	<!-- <img ng-src="api/users/{{userId}}/userImage/{{box.userImage.id}}" width="75" height="75"
	               	 	ng-show="box.userImage.id"> -->
	               	 	<img ng-src="{{imageAddress}}" width="100" height="100"
	               	 	ng-show="box.userImage.id">
        				<img src="image/imageMissing.png" width="75" height="75" ng-hide="box.userImage.id"/>
	               	 </div>	               	 
				         
				         <div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	               	 		 <div class="modal-dialog modal-lg" >
						        <div class="modal-content">
						          <div class="modal-header">
						             <div class="modal-body" >
						             	<div class="row">
						             	   <div class="col-xs-5 col-sm-3 col-md-2" ng-repeat="image in images">
						             	   		<div class="thumbnail">
						             	   			<div class="row">
						             	   				<div class="col-md-12">
						             	   					 &nbsp;<img ng-src="api/users/{{userId}}/images/{{image.id}}/image" width="75" height="75">
								        	  				 <input type="radio" ng-click="selectedImage(image)" name="boxImage" ng-value="image" class="pull-right">											  	   
						             	   				</div>
						             	   			</div>
						             	   		</div>
						             	   </div>
						             	</div>
						             
						              <div class="row">
							              <div class="pull-right">
											<tqq-pagination  items-per-page="12" total-items="imageNumCanChoose" size-class="" ng-model="currentPage" item-select-hide="true" tqq-change="gotoPageImage()"></tqq-pagination>	
					        		      </div>
				        		      </div>
								      </div>
							  	    
							  	    <div class="modal-footer">
							  	    	<button type="button" class="btn btn-default" ng-click="updateImage()" ng-disabled="boxImage==null">ok</button>
							  	    	<button type="button" class="btn btn-primary" data-dismiss="modal">cancel</button>
							  	    </div>
						          </div>
						        </div>
						      </div>
						</div>
					</div>  
		           <div class="form-group" style="margin-top:60px;">
			           <label>Description</label>
	                   <textarea name="description" class="form-control" rows="3" ng-model="box.description" ng-change="changeDes=true"></textarea>
	                   	<span ng-show="changeDes"> 
			 			 	<button class="btn btn-xs btn-success" style="height:20px;" ng-click="changeDescription()"><i class="glyphicon glyphicon-ok" style="color:white;"></i></button>&nbsp;&nbsp;&nbsp;
			 			 	<button class="btn btn-xs btn-danger" style="height:20px;" ng-click="cancelDescription()"><i class="glyphicon glyphicon-remove" style="color:white"></i></button>
			 			 </span>   
	               </div>  
		           </form>
   			 </div>
   			 <div class="pull-right">
 		 		<a class="btn btn-xs btn-primary"  ng-click="createItem()"  style="cursor:pointer;height:24px;" ng-disabled="box.status">add item</a>
        	 </div>  
        	 <p style="color:red" class="pull-left">{{infom}}</p>
         </div>
  		

		  <div class="row" style="padding-right:15px;padding-left:15px;">
		   <div class="col-sm-4 col-md-3 col-lg-3" ng-repeat = "item in items">
		     <div class="thumbnail" style="border:1px solid yellow">
		     <div class="row">
		        <div class="col-sm-6 pull-left">
		    	 <p style="padding-left:10px;padding-top:10px;pull-left;width:130px;"><font size="4">{{item.name|limitTo:25}}</font></p>
		    	</div>
		    	<div class="col-sm-6 pull-right">
		    		<img ng-src="api/users/{{userId}}/photos/{{item.photos[0].id}}/photo" width="75" height="75" 
		      		ng-show="item.photos.length!=0">
        	    	<img src="image/nopicture.png" width="75" height="75" ng-hide="item.photos.length!=0"/>
		    	</div>
		     </div>
		     <div class="caption">
		        <p style="height:40px">{{item.description|limitTo:40}}...</p>
		        <div style="padding-bottom:7px;">
		        <p class="pull-left"><a href="#/users/{{userId}}/boxes/{{box.id}}/items/{{item.id}}/editItem"><i class="glyphicon glyphicon-zoom-in" style="padding-right:30px"></i></a></p>
		        <p class="pull-right"><a style="cursor:pointer;"><i class="glyphicon glyphicon-trash"  ng-click="deleteItem(item.id)"></i></a></p>
		        </div>
		      </div>
		    </div><!--thumbnail closed  -->
		   </div><!--item closed  -->
		  </div><!--row closed  -->
		  </div>
		
		<div class="pull-right">
			<tqq-pagination  items-per-page="12" total-items="boxItemNum" size-class="" ng-model="currentPage" item-select-hide="true" tqq-change="gotoPage()"></tqq-pagination>	
		</div>
 </div>

