<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	       <a href="#/users/{{userId}}/boxes" class="navbar-brand" >WAREHOUSE</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     <ul class="nav navbar-nav navbar-left">
	       <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	             Search<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#/users/{{userId}}/match">Find By Image</a></li>
	            <li><a href="#/users/{{userId}}/search">Find By Text</a></li>
	          </ul>
	        </li>
	      </ul>
	
	      <ul class="nav navbar-nav navbar-right">
	       <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	             <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
	             {{user.userName}}<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	           <li><a href="#/users/{{userId}}/profile"><i class="glyphicon glyphicon-cog" style="padding-right:8px"></i>Profile</a></li>
	             <li class="divider"></li>
	            <li><a ng-click="logout()"><i class="glyphicon glyphicon-off" style="padding-right:8px"></i>Logout</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<div class="container">
	  <form class="form-horizontal" name="form">
		<fieldset>
		
		<!-- Form Name -->
		<legend>Edit User</legend>
		
		<!-- Text input-->
		
		<div class="form-group">
			 <label class="col-md-4 control-label">User name</label>
			 <div class="col-md-4">	        
				  <input type="text" name="username"  class="form-control input-md" ng-model="user.userName" required readonly="true"/>
			</div>
	    </div>
		
		<div class="form-group">
			 <label class="col-md-4 control-label">First name</label>
			 <div class="col-md-4">	        
				  <input type="text" name="firstName"  class="form-control input-md" ng-model="user.firstName" required />
		    	  <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">Firstname is required</span>
			</div>
	    </div>
	    
	     <div class="form-group">
			 <label class="col-md-4 control-label">Last name</label>
			 <div class="col-md-4">	        
				  <input type="text" name="lastName"  class="form-control input-md" ng-model="user.lastName" required />
		    	  <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Lastname is required</span>
			</div>
	    </div>
	 
	 	<div class="form-group">
			 <label class="col-md-4 control-label">Email</label>
			 <div class="col-md-4">	        
				  <input type="email" name="email"  class="form-control input-md" ng-model="user.email" required />
		    	  <span ng-show="form.email.$error.required">Email is required</span>
		    	  <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Email is incorrect</span>
			</div>
	    </div>
		
		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="singlebutton"></label>
		  <div class="col-md-4">
		    <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-disabled="form.$invalid || dataLoading" ng-click="editUser()">Submit</button>
		    <a href="#/admins/{{adminId}}" type="button" class="btn btn-primary">Cancel</a>
		  </div>
		</div>
		</fieldset>
	 </form>
    </div>