 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a href="#/users/{{userId}}/boxes" class="navbar-brand" >WAREHOUSE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
	       <li><a href="#/users/{{userId}}/search">Search</a></li>
	       <li><a href="#/users/{{userId}}/newBox">Create Box</a></li>
	  </ul>
      
        <ul class="nav navbar-nav navbar-right">
       		<li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	             <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
	             {{username}}<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	           <li><a href="#/users/{{userId}}/profile"><i class="glyphicon glyphicon-cog" style="padding-right:8px"></i>Profile</a></li>
	             <li class="divider"></li>
	            <li><a ng-click="logout()"><i class="glyphicon glyphicon-off" style="padding-right:8px"></i>Logout</a></li>
	          </ul>
	        </li>
     	 </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	 
	<div class="container" style="padding-top:100px;">
	  <form class="form-horizontal" name="form">
		<fieldset>
		
		<!-- Form Name -->
		<legend>My Profile</legend>
		
		<!-- Text input-->
		
			 
		 <div class="form-group">
			 <label class="col-md-4 control-label">User name</label>
			 <div class="col-md-4">	        
				  <input type="text" name="username"  class="form-control input-md" ng-model="user.userName" required readonly="true" />
		    	  <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">User name is required</span>
			</div>
	    </div>

		 <div class="form-group">
			 <label class="col-md-4 control-label">First name</label>
			 <div class="col-md-4">	        
				  <input type="text" name="firstName"  class="form-control input-md"  ng-model="user.firstName" required />
		    	  <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
			</div>
	    </div>
	    
	     <div class="form-group">
			 <label class="col-md-4 control-label">Last name</label>
			 <div class="col-md-4">	        
				  <input type="text" name="lastName"  class="form-control input-md"  ng-model="user.lastName" required />
		    	  <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
			</div>
	    </div>
	
	    
	     <div class="form-group">
			 <label class="col-md-4 control-label">Email</label>
			 <div class="col-md-4">	        
				  <input type="email" name="email"  class="form-control input-md"  ng-model="user.email" required />
		    	  <span ng-show="form.email.$error.required">Email is required</span>
		    	  <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Email is incorrect</span>
			</div>
	    </div>
	    
	   <!--   <div class="form-group">
			 <label class="col-md-4 control-label">Old Password</label>
			 <div class="col-md-4">	        
				  <input type="password" name="oldPassword"  class="form-control input-md" ng-model="user.oldPassword" required />
		    	  <span ng-show="form.oldPassword.$dirty && form.oldPassword.$error.required" class="help-block"> Old password is required</span>
			</div>
	    </div> -->
	    
	   <div class="form-group">
			 <label class="col-md-4 control-label">New Password</label>
			 <div class="col-md-4">	       
			     <input type="password" id="password" name="password" class="form-control input-md" ng-model="user.newPassword" ng-minlength="6" ng-pattern="/^[A-z0-9~!@#$%^&*?]{5,}$/" placeholder="Enter Password Here.." required  />
   						<span ng-show="form.password.$error.required && form.password.$dirty">required</span>
   						<span ng-show="!form.password.$error.required && (form.password.$error.minlength) && form.password.$dirty">Passwords must be at least 6 characters.</span>
   						<span ng-show="!form.password.$error.required && !form.password.$error.minlength && form.password.$error.pattern && form.password.$dirty">At least six characters long and can contain alphabets (A-Z, a-z), numerals (0-9) and special characters</span> 
			</div>
	    </div>
	    
	    <div class="form-group">
			 <label class="col-md-4 control-label"> Password Confirm</label>
			 <div class="col-md-4">	   
			      <input type="password" id="password_c" class="form-control input-md"  name="password_c" ng-model="user.password_c" valid-password-c placeholder="Repeat Password Here.." required  />
   				  <span ng-show="form.password_c.$error.required && form.password_c.$dirty">Please confirm your password.</span>
   				  <span ng-show="!form.password_c.$error.required && form.password_c.$error.noMatch && form.password.$dirty">Passwords do not match.</span>
			</div>
	    </div>
		
		
		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="singlebutton"></label>
		  <div class="col-md-4">
		    <button type="submit" class="btn btn-primary" 
		    ng-disabled="!(form.firstName.$valid && form.lastName.$valid && form.email.$valid && form.username.$valid && form.password.$valid &&(! form.password_c.$error.noMatch)&&form.password_c.$dirty)"
		     ng-click="updateProfile()">Save&nbsp&nbsp</button>
		    <a href="#/users/{{userId}}/boxes" type="button" class="btn btn-danger btn-primary">Cancel</a>
		  </div>
		</div>
		</fieldset>
	 </form>
    </div>