<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">WAREHOUSE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
     
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container" style="padding-top:50px;">
    <h1 class="well">Register</h1>
	<div class="col-lg-12 well">
	<div class="row">
				<form name="form">
					<div class="col-sm-12">
						<div class="row">
							 <div class="col-sm-6 form-group">
								 <label>First name</label>
									  <input type="text" name="firstName"  class="form-control input-md"  ng-model="user.firstName" placeholder="Enter First Name Here.." required />
		    	  					  <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">Firstname is required</span>
							</div>
							
							<div class="col-sm-6 form-group">
								<label>Last Name</label>
									<input type="text" name="lastName"  class="form-control input-md"  ng-model="user.lastName" placeholder="Enter Last Name Here.." required />
		    	  						<span ng-show="form.lastName.$dirty && form.firstName.$error.required" class="help-block">Lastname is required</span>
							</div>
						</div>					
					
					<div class="form-group">
						<label>User name</label>
		    	  			<input type="text" class="form-control input-md"  id="userName" name="userName" ng-model="user.userName" ng-minlength="5" ng-maxlength="20" ng-pattern="/^[A-z][A-z0-9]*$/" placeholder="Enter User Name Here.." required  />
		    	  			<span ng-show="form.userName.$dirty && form.userName.$error.required" class="help-block">User name is required</span>
							<span ng-show="!form.userName.$error.minLength && !form.userName.$error.maxLength && form.userName.$error.pattern && form.userName.$dirty">Must start with a letter, and contain letters &amp; numbers only.</span>
  							<span ng-show="!form.userName.$error.required && (form.userName.$error.minlength || form.userName.$error.maxlength) && form.userName.$dirty">Username must be between 5 and 20 characters.</span>
					</div>	
					
					<div class="form-group">
						<label>Email Address</label>
						<input type="email" name="email"  class="form-control input-md"  ng-model="user.email" placeholder="Enter Email Here.." required />
		    	  		<span ng-show="form.email.$error.required && form.email.$dirty">Email is required</span>
		    	 		<span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Email is incorrect</span>
					</div>	
					
					<div class="form-group">
						<label for="password">Password</label>
       					<input type="password" id="password" name="password" class="form-control input-md" ng-model="user.password" ng-minlength="6" ng-pattern="/^[A-z0-9~!@#$%^&*?]{5,}$/" placeholder="Enter Password Here.." required  />
   						<span ng-show="form.password.$error.required && form.password.$dirty">required</span>
   						<span ng-show="!form.password.$error.required && (form.password.$error.minlength) && form.password.$dirty">Passwords must be at least 6.</span>
   						<span ng-show="!form.password.$error.required && !form.password.$error.minlength && form.password.$error.pattern && form.password.$dirty">Must be at least six characters long and can contain alphabets (A-Z, a-z), numerals (0-9) and the following special characters: '~', '!', '@', '#', '$', '%', '^', '&', '*' and '?'</span>
					</div>
					
				   <div class="form-group">
					     <label for="password_c">Confirm Password</label>
      					 <input type="password" id="password_c" class="form-control input-md"  name="password_c" ng-model="user.password_c" valid-password-c placeholder="Repeat Password Here.." required  />
   						<span ng-show="form.password_c.$error.required && form.password_c.$dirty">Please confirm your password.</span>
   						<span ng-show="!form.password_c.$error.required && form.password_c.$error.noMatch && form.password.$dirty">Passwords do not match.</span>
					</div>  
					
					
					
					<button type="button" class="btn btn-primary" ng-click="register()" 
					ng-disabled="!(form.firstName.$valid && form.lastName.$valid && form.email.$valid && form.userName.$valid && form.password.$valid &&(! form.password_c.$error.noMatch)&&form.password_c.$dirty)"
					>Save&nbsp&nbsp</button>
					<a href="#/" type="button" class="btn btn-danger">Cancel</a>					
				</div>
			</form> 
		</div>
	</div>
	</div>

