 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a href="#/users/{{userId}}/boxes" class="navbar-brand" >WAREHOUSE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
	       <li><a href="#/users/{{userId}}/search">Search</a></li>
	       <li><a href="#/users/{{userId}}/newBox">Create Box</a></li>
	  </ul>
      
        <ul class="nav navbar-nav navbar-right">
       		<li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	             <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
	             {{username}}<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	           <li><a href="#/users/{{userId}}/profile"><i class="glyphicon glyphicon-cog" style="padding-right:8px"></i>Profile</a></li>
	             <li class="divider"></li>
	            <li><a ng-click="logout()"><i class="glyphicon glyphicon-off" style="padding-right:8px"></i>Logout</a></li>
	          </ul>
	        </li>
     	 </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
<div style="padding-top:100px">
	    <div class="row" >
		   <div class="pull-left">	
		    <h2>My Boxes<span ng-show="showInfo" style="color:red;padding-left:4px;"><font size="2">{{Info}}</font></span></h2>
		</div>

	
		<div class="pull-right" style="padding-top:30px;padding-right:16px">
		   <div class="pull-left">
		  	 <input style="width:180px;" type="file" title="" class="custom-file-input" file-model="files"
							onchange="angular.element(this).scope().filesChanged(this)"
							Multiple />
		   </div>
		   
		   <div class="pull-right">
		   	<button ng-click="uploadFile()" value="Start spinner" class="btn btn-xs btn-primary" style="cursor:pointer;">
								Search
				</button>
		   </div>
		</div>
	</div>
</div>	
	
<div class="container" style="padding-left:0px;margin-left:-16px" >
<div class="row" style="padding-top:20px;">
  <div class="col-sm-4 col-md-3 col-lg-3"  ng-repeat="box in boxes">
    <div class="thumbnail" style="border: 1px solid yellow">
    
    	 <div class="row" >
       	    <div class="col-sm-6 pull-left"><a href="#/users/{{userId}}/boxes/{{box.id}}/items">        	     
        	<img ng-src="api/users/{{userId}}/userImage/{{box.userImage.id}}" width="75" height="75" 
        	ng-show="box.userImage.id"></a>
        	<a href="#/users/{{userId}}/boxes/{{box.id}}/items"><img src="image/imageMissing.png" width="75" height="75" ng-hide="box.userImage.id"/></a>
         </div>
         <div class="col-sm-6 pull-right">
        	<img ng-src="api/users/{{userId}}/qrCodes/{{box.qrCode.id}}/qrCode" width="75" height="75">
         </div>
      	</div>

       <div class="caption">
        <h2>{{box.name}}</h2>
        <p style="height:40px;">{{box.description|limitTo:40}}...</p>
        <div style="padding-bottom:7px;">
        <p class="pull-left"><input type="checkbox" ng-checked="box.status" ng-click="updateBoxStatus(box.id)" >&nbsp;full<p>
        <p class="pull-right"><a style="cursor:pointer;"><i class="glyphicon glyphicon-trash"  ng-click="deleteBox(box.id)"></i></a></p>
        </div>
      </div>
      
      </div>
    </div>
</div>
		<div class="pull-right">
			<tqq-pagination  items-per-page="12" total-items="userBoxNum" size-class="" ng-model="currentPage" item-select-hide="true" tqq-change="gotoPage()"></tqq-pagination>	
		</div>
		
</div>
</div>